.sign-up {
  color:whitesmoke;
  background-color: #17a2b8;
  border-color: #17a2b8;
  text-decoration: none;
  padding: 15px;
  font-weight: bold;
  border-radius: 7px;
}

.login {
  text-decoration: none;
  background-color: #17a2b8;
  margin-right: 3vw;
  color: whitesmoke;
  padding: 15px;
  font-weight: bold;
  border-radius: 7px;
}

.logout {
  text-decoration: none;
  color: whitesmoke;
  background-color: #17a2b8;
  padding: 15px;
  font-weight: bold;
  border-radius: 7px;
}

.user-login-btn {
  width: 60%;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  background-color: #17a2b8;
  padding: 10px;
  font-size: 20px;
}

.user-sign-up-btn {
  width: 60%;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  background-color: #17a2b8;
  padding: 10px;
  font-size: 20px;
}