<footer class="footer-contents">
  <h3 class="footer-service-title">
    <%= link_to image_tag( "home-icon.png", class:"footer-home-icon"),"/" %>
      Warehouse
  </h3>
  <small>©︎ NORTH PADDY inc</small>
</footer>