<footer class="footer py-5">
  <div class="row">
    <div class="col-12 col-md">
      <%= link_to image_tag( "home-icon.png", class:"footer-home-icon",),"/" %>
      <%= link_to "Warehouse", "/", class:"footer-service-title" %>
      <small class="d-block mb-3 text-muted">&copy;NORTH PADDY inc<br>2020-</small>
    </div>
  </div>
</footer>