<div class="header-contents">

  <div class="title-contents">  
    <h1 class="service-title">
    <%= link_to image_tag( "home-icon.png", class:"home-icon"),"/" %>
      Warehouse
    </h1>
    <h3 class="service-sub-title">
      倉庫内の商品の登録、検索が行えます
    </h3>
  </div>
</div>