<div class="main">

  <div class="title-contents">
    <h1 class="service-title">
      Warehouse
    </h1>
    <h3 class="service-sub-title">
      倉庫内の商品の登録、検索が行えます
    </h3>
  </div>

  <div class="user-contents">
    <h2 class="service-explain">登録されていない方は
      <a><%= link_to "こちら", "#", class: "signup-link" %></a>
    </h2>
    <h2 class="service-explain">ログインは
      <a><%= link_to "こちら", "#", class: "signin-link" %></a>
    </h2>
  </div>

<%#以下はログイン状態じゃないと表示されない%>
  <div class="item-contents">
    <h2 class='service-explain'>商品の登録は
      <a><%= link_to "こちら", "#", class: "item-link" %></a>
    </h2>
  </div>

  <div class="warehouse-contents">
    <h2 class="service-explain">倉庫内検索は
      <a><%= link_to "こちら", "#", class: "warehouse-link" %></a>
    </h2>
  </div>

</div>