.main{
  background-color: whitesmoke;
}

.title-contents {
  width: 100vw;
  background-image: image-url('');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
}

.service-title {
  font-size: 5vh;
  justify-content: flex-start;

}

.service-sub-title {
  font-size: 2vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}
