.form-wrap {
  width: 100vw;
  padding: 50px 0;
}

.form-header {
  background-color: white;
  border-bottom: 1px solid lavender;
  padding: 10px 0 0 ;
  flex-direction: column;
  margin: 0 auto;
  width: 60vw;
}

.form-header-text {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.form-group {
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: white;
}

.form-text {
  font-weight: bold;
  font-size: 18px;
}

.badge {
  margin-left: 5px;
}

.form-control {
  text-align: center;
}

.form-footer {
  background-color: white;
  border-top: 1px solid lavender;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  width: 60vw;
}

.form-footer-text {
  font-size: 15px;
  text-align: center;
}