.form-wrap {
  width: 100vw;
  padding: 20px;
  background-color: whitesmoke;
}

.form-header {
  background-color: white;
  border-bottom: 1px solid lavender;
  padding: 10px;
  flex-direction: column;
  margin: 0 auto;
  width: 60vw;

}

.form-header-text {
  font-size: 30px;
  font-weight: bold;
  text-align: center;

}

.form-group {
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: white;
}

.form-text {
  font-weight: bold;
}

.input-default {
  font-size: 16px;
  text-align: center;
  height: 30px;
  margin: 0 30%;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.form-footer {
  background-color: white;
  border-top: 1px solid lavender;
  text-align: center;
  padding: 20px ;
  margin: 0 auto;
  width: 60vw;
}

.register-btn {
  width: 60%;
  margin: 0 auto;
}
