.form-wrap {
  width: 100vw;
  padding: 50px 0;
  text-align: center;
}

.form-header {
  flex-direction: column;
  margin: 0 auto;
  width: 60vw;
}

.form-header-text {
  font-size: 50px;
  font-weight: bold;
}

.form-group {
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}

.form-text {
  font-weight: bold;
  font-size: 18px;
}

.badge {
  margin-left: 5px;
}

.form-control {
  text-align: center;
}

.form-footer {
  border-top: 1px solid black;
  padding: 20px;
  margin: 0 auto;
  width: 55vw;
}

.form-footer-text {
  font-size: 15px;
}